/*TODO - Add variable theme colors*/
/*TODO - Adjust the width to be wider for all pages*/
:root{
  --bg-color: #ffffff;
  --fg-color: #ffffff;
  --acc-color: #ffffff;
  --pri-color: #ffffff;
  --sec-color: #ffffff;
  --pop-up-width: 400px;
  --pop-up-height: 200px;
}

*{
  border: 1px dotted green;
  /*font-family: cursive;*/
  font-family: "system-ui";
}

header{
  align-items: start;
  display: flex;
  margin-bottom: 40px;
}

h1{
  display: inline;
  width: 200px;
  margin: 0;
  padding: 0;
  flex-grow: 0.05;
}
nav{
  flex-grow: 1;
  margin: 0;
  padding: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
}

nav ul li{
  display: inline-block;
}

img {
  background-color: #c7c7c7;
}

footer{
  margin-top: 40px;
}



/*INCOMPLETE - DIALOGS*/
#submissionStatus{
  text-align: center;
}



/*PAGE: WISHLIST*/

img.vinylImage {
  display: block;
  height: 20vw;
  width: 20vw;
  margin: auto;
}

#display{
  position: relative;
}

#wishlistButtonMenu {
  position: absolute;
  right: 0;
}

#container{
  margin: 0 auto;
  width: 50vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#carousel{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
}

.titleText{
  margin-bottom: 10px;
  font-size: 20px;
}

.subTitleText{
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 5px;
}

.releaseText {
  margin-top: 0;
  font-size: 12px;
  color: grey;
}

#rBtn, #lBtn{
  background-color: #c7c7c7;
  width: 40px;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

#rBtn[disabled], #lBtn[disabled],  button[disabled]{
  pointer-events: none;
  background-color: dimgray !important;
}

.wishLinks {
  display: block;
  margin-bottom: 20px;
}

.linkLbls {
  margin-bottom: 0;
  font-weight: bold;
}

.wishLinkLbl {
  margin-bottom: 0;
  font-weight: bold;
}





/*PAGE: ADD FORM*/

#addForm {
  width: 600px;
  display: flex;
  flex-wrap: wrap;
}

.addFormListBtn {
  width: 49.6%;
  margin: 0;
  padding: 0;
  display: inline-block;
}

input[type="submit"], input[type="reset"], input[type="button"], button {
  cursor: pointer;
}

#addForm input{
  box-sizing: border-box;
}

#addForm *:not([type="color"], #colorSec, #color, #colorList, #colorSecLis){
  flex: 0 0 100%;
}

#colorSec, #color, #colorList, #colorSecList{
  flex: 8;
}

#colorHex, #colorSecHex{
  flex: 1;
}

input[type="text"], input[type="url"], input[list="colorsList"], input[list="colorsSecList"], input[list="vinylStyleList"] {
  
  /*width: 98%;*/
  border: 1px solid black;
  margin-bottom: 10px;
}

/*input[required]::after{
  content: "(Optional)";
  font-weight: 100;
  font-size: 70%;
  margin-left: 10px;
}*/

.formTrack {
  margin-left: 40px;
}

input[type="text"].formTrack{
  width: 88%;
}

#formBtns, .trackBtns {
  margin-top: 20px;
  display: block;
  text-align: center;
}

.popupCloseBtn {
  position: absolute;
  top: 0;
  right: 0;
}

#addFormTokenBtnContainer {
  width: 100%;
  position: relative;
}

#addFormTokenBtnContainer a{
  position: absolute;
  top: 0;
  right: 0;
  text-decoration: none;
  color: grey;
  font-size: 30px;
}

#addFormTokenBtnContainer p{
  display: inline-block;
}

.formColorSection{
  display: inline-block;
}




/*PAGE: COLLECTION*/

#display, #collection{
  flex-grow: 10;
  min-width: 50vw;
  width: 100%;
}

#colHeader{
  display: flex;
  align-items: center;
}

#colDisMenu {
  margin-left: auto;
  overflow: hidden;
}

#colDisMenu *{
  display: inline-block;
}

#colDisMenu a:hover{
  color: transparent;  
  text-shadow: 0 0 0 blue;
}

img.colVinylImage {
  display: inline-block;
  height: 10vw;
  width: 10vw;
  margin: auto;
}

.colItem{
  display: inline-block;
  position: relative;
}

.colItem p {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin: 0 0 5px 0;
}

.colEditBtn{
  position: absolute;
  right: 0;
}

.pivotHide {
  display: none !important;
}


/* FOOTER */
footer{
  position: relative;
}

#cpyrt {
 position: absolute;
 right: 0;
 top: 0;
  margin: 0;
}

/*WIP*/
#wip{
  width: 800px;
}

#wipApiKey {
  text-align: center;
}

#genres {
  display: flex;
  justify-content: right;
}

#searchContainer {
  display: flex;
}

#searchContainer label {
  flex: 1;
  line-height: 30px;
}

#searchContainer input {
  flex: 8;
  margin: 0;
  height: 30px;
}

#searchContainer button {
  flex: 1;
}

.searchItem {
  display: flex;
  margin: 20px 10px;
  position: relative;
  flex-wrap: wrap;
}

.searchItem img, .playlists img {
  height: 120px;
}

.channelContainer, .playlistsContainer { 
  width: 100%;
  flex: 1 1 0;
}

.channelContainer *, .playlistsContainer *{
  margin: 0;
  display: block;
}

.playlistsContainer img {
  display: inline;
  width: 120px;
}

.channelContainer sub + p {
  font-size: 12px;
}

.channelContainer button, .playlistsContainer button {
  width: auto;
}

.playlistsContainer {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}

.playlistDetails{
  width: calc(100% - 124px);
}

.playlists{
  flex: 100%;
  display: flex;
  width: 700px;
  margin: 10px 0px 10px 0px;
  flex-wrap: wrap;
  align-items: flex-start;
}

.videos {
  width: 100%;
}

#searchContainer, #resultNavBtns {
  text-align: center;
}